<div>
  <button mat-raised-button (click)="add()">Add Food</button>
</div>

<div class="gap"></div>

<div class="example-container mat-elevation-z8">
  <mat-table
    [dataSource]="dataSource"
    matSort
    matSortActive="name"
    matSortDirection="asc"
    matSortDisableClear
  >
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        NAME
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="energyInKcal">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        ENERGY IN KCAL
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.energyInKcal }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="totalFat">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        TOTAL FAT
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.totalFat }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="saturatedFat">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        SATURATED FAT
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.saturatedFat }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="totalCarbohydrate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        TOTAL CARBOHYDRATE
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.totalCarbohydrate }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="sugar">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        SUGAR
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.sugar }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="protein">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        PROTEIN
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.protein }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="salt">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        SALT
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.salt }} </mat-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="displayedColumns; sticky: true"
    ></mat-header-row>

    <mat-row
      matRipple
      *matRowDef="let row; columns: displayedColumns"
    ></mat-row>
  </mat-table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    [pageSize]="5"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
