<ng-container *ngIf="(formService.form$ | async) as f; else loading">
  <form [formGroup]="f.form">

    <div>
      <ng-container *ngFor="let control of f.keys">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>{{ control | titlecase}}</mat-label>
          <input type="text" matInput formControlName="{{control}}" (input)="onInputChange(control, f.form, f.keys)"/>
        </mat-form-field>
      </ng-container>
    </div>

    <div class="d-flex justify-content-between">
      <button (click)="onSubmit(f.form)" role="none" class="btn btn-primary">
        Save
      </button>
    </div>

    <hr>

  </form>

</ng-container>

<ng-template #loading>...loading</ng-template>
