<div class="wrapper">
  <header class="carbon-fibre">
      <button mat-raised-button class="upholstery" routerLink="./dashboard" routerLinkActive="active">Dashboard</button>
      <button mat-raised-button class="upholstery" routerLink="./events" routerLinkActive="active">Event</button>
      <button mat-raised-button class="upholstery" routerLink="./reactive-form" routerLinkActive="active">Reactive
        form</button>
      <button mat-raised-button class="upholstery" routerLink="./reactive-component" routerLinkActive="active">Reactive component</button>
      <button mat-raised-button class="upholstery" routerLink="./food" routerLinkActive="active">Food</button>
      <button mat-raised-button class="upholstery" routerLink="./table" routerLinkActive="active">Table</button>
      <button mat-raised-button class="upholstery" routerLink="./playground" routerLinkActive="active">Playground</button>
      <button mat-raised-button class="upholstery" routerLink="./facade" routerLinkActive="active">Facade</button>
      <button mat-raised-button class="upholstery" routerLink="./ngZone" routerLinkActive="active">ngZone</button>
      <button mat-raised-button class="upholstery" routerLink="./nostro" routerLinkActive="active">Nostro</button>
      <button mat-raised-button class="upholstery" routerLink="./memory" routerLinkActive="active">Memory</button>
      <button mat-raised-button class="upholstery" routerLink="./simpleTable" routerLinkActive="active">Simple
        Table</button>
      <button mat-raised-button class="upholstery" routerLink="./statepattern" routerLinkActive="active">State
        Pattern</button>
  </header>

  <main class="linear-gradient">
    <h2>Page Title</h2>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </main>

  <footer class="carbon-fibre">
    footer@com
  </footer>
</div>
