body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}

table {
  width: 50%;
}

.mat-paginator-range-label {
  display: none;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

/* Border */
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgb(255, 255, 255);
  /* background-color: white; */
}
/* Font color */
input.mat-input-element {
  color: rgb(0, 0, 0);
}

.mat-button.mat-primary,
.mat-icon-button.mat-primary,
.mat-stroked-button.mat-primary {
  color: black;
}

input.mat-input-element-selected {
  font-weight: bold;
}
