<div class="button-row">
  <button mat-raised-button color="primary" (click)="a$.next()">A</button>
  <button mat-raised-button color="primary" (click)="b$.next()">B</button>
  <button mat-raised-button color="primary" (click)="c$.next()">C</button>
  <button mat-raised-button color="primary" (click)="d$.next()">D</button>
  <button mat-raised-button color="primary" (click)="f$.next()">F</button>
  <button mat-raised-button color="primary" (click)="g$.next()">G</button>
  <button mat-raised-button color="primary" (click)="h$.next()">H</button>
  <button mat-raised-button color="primary" (click)="i$.next()">I</button>
  <button mat-raised-button color="primary" (click)="j$.next()">J</button>
</div>


<mat-card class="card">
  <!-- <mat-card-title>title</mat-card-title> -->
  <!-- <mat-card-subtitle>subtitle</mat-card-subtitle> -->
  <mat-card-content>
    <!-- <p>This card indeterminates progress bar.</p> -->
      <ng-container *ngIf="{
        obs1: store$ | async,
        obs2: all$ | async
      } as observables">
        <h1> Button clicked => {{ observables.obs1?.button | uppercase}}
        </h1>

        <h1>
          No. Of clicks => {{ observables.obs1?.clickCounter }}
        </h1>

        <h1>
          Buttons clicked => {{ observables.obs1?.prevClicks }}
        </h1>
      </ng-container>
  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->
</mat-card>
