<div class="body">
  <div class="button-row">
    <button class="btn draw-border" color="primary" (click)="click('A')">A</button>
    <button class="btn draw-border" color="primary" (click)="click('B')">B</button>
    <button class="btn draw-border" color="primary" (click)="click('C')">C</button>
    <button class="btn draw-border" color="primary" (click)="click('D')">D</button>
    <button class="btn draw-border" color="primary" (click)="click('F')">F</button>
    <button class="btn draw-border" color="primary" (click)="click('G')">G</button>
    <button class="btn draw-border" color="primary" (click)="click('H')">H</button>
    <button class="btn draw-border" color="primary" (click)="click('I')">I</button>
    <button class="btn draw-border" color="primary" (click)="click('J')">J</button>
  </div>


  <mat-card class="card">
    <!-- <mat-card-title>title</mat-card-title> -->
    <!-- <mat-card-subtitle>subtitle</mat-card-subtitle> -->
    <mat-card-content>
      <!-- <p>This card indeterminates progress bar.</p> -->
      <!-- <ng-container *ngIf="{
        obs1: store$ | async,
        obs2: all$ | async
      } as observables"> -->
      <ng-container *ngIf="counterState2$ | async as store">

        <h1>
          Button clicked => {{ store.button | uppercase}}
        </h1>

        <h1>
          No. Of clicks => {{ store.clickCounter }}
        </h1>

        <h1>
          Buttons clicked => {{ store.prevClicks }}
        </h1>

        <h1>
          CustomPipe applied => {{ store.customPipe }}
        </h1>

        <h1>
          CustomPipe2 applied => {{ store.customPipe2 }}
        </h1>
      </ng-container>
    </mat-card-content>
    <!-- <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->
  </mat-card>
</div>
