<mat-card class="example-card" tabindex="0">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>My Form</mat-card-title>

    <mat-card-subtitle
      ><p>Form Status: {{ myForm.status }}</p></mat-card-subtitle
    >

    <div fxFlex fxLayout fxLayoutAlign="center">
      <h3>{{ date | date: 'fullDate' }}</h3>
    </div>
  </mat-card-header>

  <div class="gap"><hr /></div>

  <mat-card-content>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Choose meal type</mat-label>
          <mat-select formControlName="type">
            <mat-option value="breakfast">Breakfast</mat-option>
            <mat-option value="lunch">Lunch</mat-option>
            <mat-option value="dinner">Dinner</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <ng-container formArrayName="aliases">
        <h2>Food</h2>
        <ng-container
          *ngFor="let lessonForm of aliases.controls; let i = index"
        >
          <div [formGroupName]="i" class="ing">
            <mat-form-field appearance="fill">
              <mat-select formControlName="ingredient" placeholder="Ingredient">
                <mat-option *ngFor="let ing of ingredients" [value]="ing">
                  {{ ing.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <input matInput formControlName="amount" placeholder="amount" />
              <span matSuffix>g</span>
            </mat-form-field>
            <mat-icon class="delete-btn" (click)="deleteAlias(i)">
              delete_forever</mat-icon
            >
          </div>
        </ng-container>
      </ng-container>

      <div>
        <div class="ing">
          <h3>Sum of CarboHydrates: {{ carboValue$ | async }}</h3>
        </div>

        <div class="ing">
          <button
            mat-raised-button
            color="primary"
            type="button"
            (click)="addAlias()"
          >
            + Add Ingredient
          </button>
        </div>
      </div>
      <div class="gap"><hr /></div>

      <button
        mat-raised-button
        color="warn"
        type="submit"
        [disabled]="myForm.invalid"
      >
        Send
      </button>
    </form>
  </mat-card-content>
  <mat-divider inset> </mat-divider>
  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="likeClicked()">
      LIKE
    </button>
    <button mat-raised-button color="primary" (click)="shareClicked()">
      SHARE
    </button>
  </mat-card-actions>
  <mat-card-footer>
    Footer
    <mat-divider></mat-divider>
    <section>
      <div class="example-label">Icon</div>
      <div class="example-button-row">
        <div class="example-flex-container">
          <button
            mat-icon-button
            aria-label="Example icon button with a vertical three dot icon"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <button
            mat-icon-button
            color="primary"
            aria-label="Example icon button with a home icon"
          >
            <mat-icon>home</mat-icon>
          </button>
          <button
            mat-icon-button
            color="accent"
            aria-label="Example icon button with a menu icon"
          >
            <mat-icon>menu</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            aria-label="Example icon button with a heart icon"
          >
            <mat-icon>favorite</mat-icon>
          </button>
          <button
            mat-icon-button
            disabled
            aria-label="Example icon button with a open in new tab icon"
          >
            <mat-icon>open_in_new</mat-icon>
          </button>
        </div>
      </div>
    </section>
    <mat-divider></mat-divider>
    <section>
      <div class="example-label">FAB</div>
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container">
            <button
              mat-fab
              color="primary"
              aria-label="Example icon button with a delete icon"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <div class="example-button-container">
            <button
              mat-fab
              color="accent"
              aria-label="Example icon button with a bookmark icon"
            >
              <mat-icon>bookmark</mat-icon>
            </button>
          </div>
          <div class="example-button-container">
            <button
              mat-fab
              color="warn"
              aria-label="Example icon button with a home icon"
            >
              <mat-icon>home</mat-icon>
            </button>
          </div>
          <div class="example-button-container">
            <button
              mat-fab
              disabled
              aria-label="Example icon button with a heart icon"
            >
              <mat-icon>favorite</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </section>
    <mat-divider></mat-divider>
    <section>
      <div class="example-label">Mini FAB</div>
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container">
            <button
              mat-mini-fab
              color="primary"
              aria-label="Example icon button with a menu icon"
            >
              <mat-icon>menu</mat-icon>
            </button>
          </div>
          <div class="example-button-container">
            <button
              mat-mini-fab
              color="accent"
              aria-label="Example icon button with a plus one icon"
            >
              <mat-icon>plus_one</mat-icon>
            </button>
          </div>
          <div class="example-button-container">
            <button
              mat-mini-fab
              color="warn"
              aria-label="Example icon button with a filter list icon"
            >
              <mat-icon>filter_list</mat-icon>
            </button>
          </div>
          <div class="example-button-container">
            <button
              mat-mini-fab
              disabled
              aria-label="Example icon button with a home icon"
            >
              <mat-icon>home</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </section>
  </mat-card-footer>
</mat-card>
