<mat-card class="example-card" tabindex="0">
  <!-- <mat-progress-bar mode="determinate"></mat-progress-bar> -->

  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <div class="gap"><hr /></div>

    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <!-- <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  /> -->
  <mat-card-content>
    <p>This card has divider and indeterminate progress as footer</p>
    <p>{{ longText }}</p>
  </mat-card-content>
  <mat-divider inset> </mat-divider>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
  <mat-card-footer> Footer </mat-card-footer>
</mat-card>
