.sidenav-container {
  height: 100%;
  background-color: burlywood;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
  background-color: lightslategray;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-nav-list {
  background-color: aquamarine;
}
