<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        matTooltip="{{ sidenav.opened ? 'Close Sidebar' : 'Opwn Sidebar' }}"
        (click)="sidenav.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <div fxFlex fxLayout fxLayoutAlign="center">
        <h3>App</h3>
      </div>

      <div fxLayoutAlign="start center">
        <div fxLayout fxLayoutGap="20px">
          <button mat-icon-button>
            <mat-icon matTooltip="Home"> home </mat-icon>
          </button>
        </div>

        <div fxLayout fxLayoutGap="20px">
          <button mat-icon-button>
            <mat-icon matTooltip="User"> face </mat-icon>
          </button>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened role="navigation" #sidenav>
    <mat-nav-list>
      <mat-list-item routerLink="./dashboard" routerLinkActive="active"
        >Dashboard</mat-list-item
      >
      <mat-list-item routerLink="./table" routerLinkActive="active"
        >Table</mat-list-item
      >
      <mat-list-item routerLink="./form" routerLinkActive="active"
        >Form</mat-list-item
      >
      <mat-list-item routerLink="./form2" routerLinkActive="active"
        >Form 2</mat-list-item
      >
      <mat-list-item routerLink="./form3" routerLinkActive="active"
        >Form 3</mat-list-item
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="margin: 2%; color: lightskyblue">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
